
<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-row class="back">
       <ion-title> 
         <p class="tit"> Fasster </p>
            <p  class="logo"><img routerLink="/login" src="https://i.ibb.co/4KsLZjL/fastter.jpg" height="40px" width="90px"></p>
          </ion-title>
    </ion-row>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

  
<ion-router-outlet id="main"></ion-router-outlet>

