.back{
  background: black;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.tit{
  padding: .5em;
  display: inline-block;
  text-align: left;
  position: absolute;
  font-family: Impact;
  text-align: left;
  color: white;
}

.logo{
  padding:0px, 0px, 0px, 0px;
  display: block;
  float: right;
  offset-distance: 100px;
}

.my-custom-menu {
  --width: 500px;
}
